
   <footer>
        <div class="footer-bottom" style="padding-top: 3rem; background-color: lightslategray">
            <div class="container ">
                <div class="row justify-content-xl-center">
                    <div class="col">
                        <div class="header">
                            <h3>HALODOC</h3>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-2 col-md-5">
                        <div class="header">
                            <h5>Site Map</h5>
                        </div>
                        <br>
                        <ul class="footer-nav nav flex-column">
                            <li class="nav-item"><a style="color:white;" href="/faq">FAQ </a></li>
                            <li class="nav-item"><a style="color:white;" href="/sk">Syarat & ketentuan</a></li>
                            <li class="nav-item"><a style="color:white;" href="/security">Security</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-5">
                        <div class="header">
                            <h5>Hubungi Kami</h5>
                        </div>
                        <br>
                        <ul class="footer-nav nav flex-column">
                            <a style="color:white;" href="https://goo.gl/maps/Hh8ur6wiwonyxV1Z8">
                                <li class="nav-item">
                                    Gedung Halodoc
                                </li>
                                <li class="nav-item">
                                    Jl. HR Rasuna Said Kav. B32-33
                                </li>
                                <li class="nav-item">
                                    Jakarta Selatan 12940
                                </li>
                            </a>
                            
                
                            <br>
                            <li class="nav-item">Phone: 021-3110-6999</li>
                            <li class="nav-item"><a style="color:white;"  href='mailto:help@halodoc.com'>help@halodoc.com</a></li>
                            <br>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-5">
                        <div class="header">
                            <h5>Download App di</h5>
                        </div>
                        <br>
                        <ul class="footer-nav nav flex-column">
                            <li class="nav-item">
                                <a href="https://play.google.com/store/apps/details?id=com.linkdokter.halodoc.android&hl=in&gl=US">
                                    <img src="img/Google Play.png" width="110px" height="35px"></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://apps.apple.com/id/app/halodoc-doctors-medicines/id1067217981">
                                    <img src="img/App Store.png" width="110px" height="35px"></a>
                            </li>
                            <br>
                            <div class="header">
                                <h6>Apakah Anda Dokter?</h6>
                            </div>
                            <br>
                            <ul class="footer-nav nav flex-column" style="margin-bottom: 5px;">
                                <li class="nav-item">
                                    <button style="color: white; font-size: 10pt; width: 150px;"; type="button" class="btn border border-dark" data-bs-toggle="modal" data-bs-target="#exampleModalToggle10">
                                        LOGIN DOKTER
                                    </button>
                                </li>
                            </ul>
                            <ul class="footer-nav nav flex-column">
                                <li class="nav-item">
                                    <a href="/registerdokter">
                                        <button style="color: white; font-size: 10pt; width: 150px;"; type="button" class="btn border border-dark">
                                            REGISTER DOKTER
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>

                            
                </div>
            </div>
            <br>
        </div>
        </div>
        <div style="background-color: rgb(53, 52, 52);">
            <br>
            <div class="text-center" style="color: white;">
                &copy;HALODOC, 2021. ALL RIGHTS RESERVED
            </div>
            <br>
        </div>
    </footer>
    