

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/artikeladmin"><h2>ADMIN HALODOC</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav-links">
                <nav>
                    <ul>
                        <li><a href="/artikeladmin">Artikel</a></li>
                        <li><a href="/validasidokter">Validasi Dokter</a></li>
                        <li><a href="/">Back to Web User</a></li>
                    </ul>
                </nav>
            </div>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <li class="nav-item">
                        <button style="font-size: 14pt; opacity: 70%;" type="button" class="btn btn-link " data-bs-toggle="modal">
                          <a href="/logoutadmin" style="color: black; ">LOGOUT</a>
                        </button>
                      </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>