<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaloDoc || Tanya Dokter, Periksa Kesehatan Sendiri</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <%- include('../layouts/navbar.ejs'); %>
    
    <div class="container">
        <div class="main-body">

            <div style="margin-left: 5%; margin-right: 5%">
                <h4 class="text-left" style="color: rgb(0, 0, 0);">Khasiat Buah Matoa yang Mampu Meningkatkan Imunitas Tubuh</h4>
                <br><br>
                        <h6 class="card-subtitle text-muted text-left">Ditinjau oleh: <a href="#">Dr. Rizal Fadli</a></h6>
                        <br>
                        <h6 class="card-subtitle text-muted text-left">24 September 2021</h6>
                        <br><br>
                        <img src="img/artikelmatoa.jpg" class="img-fluid">
                        <br><br>
                        <p class="card-text text-left text-muted font-italic font-bold"> “Buah matoa mungkin terdengar asing bagi sebagian orang. Namun, buah yang banyak ditemui 
                            di Papua Barat, Indonesia, ini ternyata menyimpan sederet khasiat dan manfaat sehat. Rutin mengonsumsi buah ini disebut bisa membantu menjaga imunitas 
                            tubuh, melawan radikal bebas, hingga menjaga kesehatan jantung.“</p>
                        <p class="card-text text-left text-muted"> Halodoc, Jakarta – Matoa adalah jenis buah asli Indonesia yang banyak ditemukan di Papua Barat. Sebagian besar orang 
                            mungkin masih merasa asing dengan buah ini. Namun tahukah kamu, buah yang memiliki aroma dan tekstur mirip rambutan ini ternyata menyimpan banyak nutrisi
                            penting. Maka dari itu, mengonsumsi buah matoa disebut bisa memberi manfaat untuk kesehatan tubuh.  </p>
                        <p class="card-text text-left text-muted"> Buah matoa atau Pometia Pinnata berada dalam satu keluarga dengan buah leci dan kelengkeng. Ternyata, buah ini sudah 
                            lama dikenal dan digunakan sebagai pengobatan tradisional oleh masyarakat Papua. Ada banyak kandungan nutrisi dalam buah ini, termasuk vitamin C dan E. Karena
                            itu, mengonsumsi buah matoa disebut bisa membantu meningkatkan imunitas tubuh.  </p>
                        <p class="card-text text-left text-muted font-bold"> Beragam Manfaat Sehat dari Buah Matoa </p>
                        <p class="card-text text-left text-muted"> Oleh karena belum dikenal secara umum, sejumlah penelitian masih dibutuhkan untuk mengetahui kandungan dan manfaat sehat 
                            dari buah ini. Namun, sejauh ini buah matoa disebut kaya akan kandungan vitamin C dan vitamin E. Keduanya merupakan sumber antioksidan yang baik bagi tubuh.
                            Antioksidan dibutuhkan tubuh untuk mencegah risiko kerusakan akibat serangan radikal bebas. </p>
                        <p class="card-text text-left text-muted"> Selain itu, jenis buah ini ternyata ampuh untuk meningkatkan imunitas tubuh. Sebab, hampir semua buah yang memiliki kandungan
                            vitamin C merupakan “sumber makanan” yang baik untuk sistem kekebalan tubuh. Dengan sistem kekebalan tubuh yang terjaga, risiko terjadinya penyakit akan lebih
                            rendah. Selain sumber antioksidan dan ampuh untuk meningkatkan imunitas tubuh, ada manfaat sehat lain dari buah matoa, yaitu: </p>
                        <p class="card-text text-left text-muted"> 1. Melawan Infeksi Virus</p>
                        <p class="card-text text-left text-muted"> Kandungan nutrisi dalam buah matoa juga disebut bisa membantu melawan infeksi virus pada tubuh. Ada banyak jenis virus yang
                            bisa menyerang tubuh dan meningkatkan risiko penyakit. Nah, mengonsumsi buah yang kaya akan kandungan vitamin C dan antioksidan, seperti matoa, nyatanya bisa membantu
                            meningkatkan kekebalan tubuh sehingga memiliki kemampuan untuk melawan infeksi virus penyebab penyakit. </p>
                        <p class="card-text text-left text-muted"> 2. Meredakan Stres </p>
                        <p class="card-text text-left text-muted"> Selain memiliki rasa yang enak, buah yang satu ini ternyata bisa membantu menurunkan stres. Hal itu berkat kandungan
                            vitamin E yang diketahui bisa berperan sebagai pereda stres. Saat sedang merasa tertekan, cobalah untuk mengonsumsi beberapa buah matoa dan rasakan manfaatnya.</p>
                        <p class="card-text text-left text-muted"> 3. Menambah Energi </p>
                        <p class="card-text text-left text-muted"> Ada kandungan gula dalam buah ini. Karena itu, mengonsumsi matoa disebut bisa membantu menambah energi, sehingga cocok untuk
                            dikonsumsi saat harus melakukan banyak aktivitas fisik atau saat akan berolahraga. Meski begitu, kandungan gula dalam buah cenderung sehat dan jarang memicu terjadinya
                            kenaikan kadar gula darah secara berlebih. </p>
                        <p class="card-text text-left text-muted"> 4. Kesehatan Jantung Terjaga</p>
                        <p class="card-text text-left text-muted"> Lagi-lagi, manfaat sehat ini didapat dari kandungan vitamin C dan vitamin E dalam buah matoa. Makanan yang kaya akan vitamin E 
                            disebut bisa membantu menjaga kesehatan jantung secara menyeluruh. Ditambah kandungan vitamin C yang bisa membantu melancarkan peredaran darah. </p>
                        <p class="card-text text-left text-muted"> 5. Kulit yang Lebih Sehat </p>
                        <p class="card-text text-left text-muted"> Bukan lagi rahasia bahwa mengonsumsi buah-buahan bisa membuat kulit tampak lebih cantik dan sehat. Nah, hal ini juga bisa didapat 
                            dari mengonsumsi buah matoa. Seperti diketahui, baik vitamin E maupun vitamin C sama-sama bisa membantu menjaga kesehatan kulit. </p>
                        <p class="card-text text-left text-muted"> Itulah tadi beragam khasiat dari buah matoa. Penasaran untuk mencobanya? Namun, pastikan untuk tidak berlebihan dan imbangi dengan 
                            mengonsumsi makanan sehat lainnya, ya! Hal ini penting dilakukan untuk menjaga kesehatan dan kebugaran tubuh secara menyeluruh. </p>
                        <p class="card-text text-left text-muted"> Kalau sakit dan butuh saran ahli, hubungi dokter melalui aplikasi Halodoc. Kini, lebih mudah untuk menyampaikan keluhan kesehatan 
                            yang dialami melalui Video/Voice Call atau Chat. Sampaikan hal yang ingin ditanyakan dan dapatkan rekomendasi pengobatan terbaik. Ayo, download aplikasi Halodoc sekarang di 
                            App Store atau Google Play!  </p>
                        <p class="card-text text-left text-muted font-bold"> Referensi: </p>
                        <p class="card-text text-left text-muted"> DrHealthBenefits. Diakses pada 2021. 10 Health Benefits of Matoa Fruit (#1 Exotic Fruit from Papua).
                            Window of World. Diakses pada 2021. 4 Benefits of Matoa Fruit You Need To Know. </p>
                        <br>
                </div>
            </div>
            <br><br>
    </div>

        <%- include('../layouts/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>