<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaloDoc || Tanya Dokter, Periksa Kesehatan Sendiri</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <%- include('../layouts/navbar.ejs'); %>

    <div class="container" style="justify-content: center; text-align: center;">
        <div>
            <div>
                <br>
                <h1 style="text-align: center;">Kalender Menstruasi di Aplikasi Halodoc</h1>
            </div>
            <br>
            <img src="img/preview.jpg" alt="preview" height="auto" class="img-fluid"><br><br>
            <p>
                <span style="color: rgb(0, 0, 0); background-color: transparent;">
                Remaja yang memasuki tahap pubertas hingga wanita dewasa pasti mengalami menstruasi setiap bulannya. 
                Proses ini biasanya ditandai dengan perdarahan uterus dan pelepasan endometrium</span>
                <span style="color: rgb(0, 0, 0);">. </span><span style="color: rgb(0, 0, 0); background-color: transparent;">
                Siklusnya</span><span style="color: rgb(0, 0, 0);"> berlangsung selama 28 hari, dengan lama menstruasi sekitar 
                4 hingga 6 hari. Sayangnya, tidak semua wanita paham dengan siklus menstruasi mereka. Namun, jangan khawatir, aplikasi&nbsp;
                </span><strong style="color: rgb(0, 0, 0);">Halodoc </strong><span style="color: rgb(0, 0, 0);">
                menghadirkan fitur Kalender Menstruasi untuk melacak siklus menstruasi dengan mudah.&nbsp;</span>
                <br><br>
                Yuk, pelajari apa saja yang bisa dilakukan di fitur ini:
            </p>
            <br>
            <img src="img/flow.jpg" alt="flow" height="auto" width="500px"class="img-fluid">
            <br>
            <br>
            <p class="footer">
                <span style="color: rgb(0, 0, 0); background-color: transparent;">Mudah, bukan? Semua ini dapat kamu akses di aplikasi </span>
                <strong style="color: rgb(0, 0, 0); background-color: transparent;">Halodoc</strong>
                <span style="color: rgb(0, 0, 0); background-color: transparent;">. Yuk, </span>
                <a href="https://www.halodoc.com/aplikasi-halodoc?utm_source=article&amp;utm_medium=article&amp;utm_campaign=editor_1" 
                rel="noopener noreferrer" target="_blank" style="color: rgb(0, 0, 0); background-color: transparent;"><em>download</em>
                </a><em style="color: rgb(0, 0, 0); background-color: transparent;"> </em>
                <span style="color: rgb(0, 0, 0); 
                background-color: transparent;">aplikasinya sekarang juga!
                </span>
            </p>
            <br>
            <p>
                <a id="playstore" target="_blank" rel="noopener noreferrer" 
                href="https://play.google.com/store/apps/details?id=com.linkdokter.halodoc.android&hl=in">
                    <img src="img/Google Play.png" alt="play store" height="40">
                </a>
                <a id="appstore" target="_blank" rel="noopener noreferrer" 
                href="https://apps.apple.com/id/app/halodoc-chat-dokter-beli-obat/id1067217981?l=id">
                    <img src="img/App Store.png" alt="app store" height="40">
                </a>

            </p>
        </div>
        <br>
        <hr>
        <br>
        <div class="row justify-content-center" >
            <h4>Konsultasi lebih lanjut dengan ahlinya</h4>
            <div class="card" style="width: 18rem; margin: 20px;">
                <img class="card-img-top" src="img/dokterumum.png" style="width:50%; padding-top: 30px; padding-left: 30px; padding-right: 30px; margin: auto;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title-center">Chat dengan Dokter Umum</h5>
                  <hr>
                  <a href="/listdokter" class="btn-primaryy d-lg-inline-block rounded-3">Chat Sekarang</a>
                </div>
              </div>
              
              <div class="card" style="width: 18rem; margin: 20px;">
                <img class="card-img-top" src="img/dokterumum.png" style="width:50%; padding-top: 30px; padding-left: 30px; padding-right: 30px; margin: auto;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title-center">Chat dengan Dokter Kandungan</h5>
                  <hr>
                  <a href="/listdokter" class="btn-primaryy d-lg-inline-block rounded-3">Chat Sekarang</a>
                </div>
              </div>

              <div class="card" style="width: 18rem; margin: 20px;">
                <img class="card-img-top" src="img/dokterumum.png" style="width:50%; padding-top: 30px; padding-left: 30px; padding-right: 30px; margin: auto;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title-center">Chat dengan Seksologi & Spesialis Reproduksi Pria</h5>
                  <hr>
                  <a href="/listdokter" class="btn-primaryy d-lg-inline-block rounded-3">Chat Sekarang</a>
                </div>
              </div>
        </div>
    </div>
    <br>
    <br>

        <%- include('../layouts/footer.ejs'); %>

        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>