<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaloDoc || Tanya Dokter, Periksa Kesehatan Sendiri</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <%- include('../layouts/navbar.ejs'); %>

    <div class="container">
        <div>
            <h1 class="text-center">All General Practice Doctor</h1>
            <p class="text-center" style="font-size: 16pt;"><i>Find a doctor to answer medical questions, for you.</i></p>
            <hr size="5px" style="background-color: black;"><br>
            <br>
            <!--foto profile dokter ukuran 4x6-->
            <div style="margin: 3% 3%">
                <div class="row">
                    <div class="card mb-3" style="max-width: 530px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="img/dokter.png" class="card-img" alt="gambar" height="100%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                        <button style="color: black;"; type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#exampleModalToggle11">
                                            <h5>Dr. Clara Tanudy</h5>
                                        </button>
                                    <p class="card-text">
                                        Lulusan dari : Universitas Tarumanagara
                                        Tempat Praktik : Jakarta Barat, DKI Jakarta
                                        No. STR : 1121100216125652
                                    </p>
                                    <p class="card-text bg-white"><small class="text-muted">Dokter Umum</small></p>
                                    <br>
                                    <div class="text-right">
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="email"> <i data-feather="mail" aria-hidden="true"></i>Gmail</a>
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="whatsapp"> <i data-feather="message-circle" aria-hidden="true"></i>WhatsApp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 530px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="img/dokter.png" class="card-img" alt="gambar" height="100%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <button style="color: black;"; type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#exampleModalToggle11">
                                        <h5>Dr. Clara Tanudy</h5>
                                    </button>
                                    <p class="card-text">
                                        Lulusan dari : Universitas Tarumanagara
                                        Tempat Praktik : Jakarta Barat, DKI Jakarta
                                        No. STR : 1121100216125652
                                    </p>
                                    <p class="card-text bg-white"><small class="text-muted">Dokter Umum</small></p>
                                    <br>
                                    <div class="text-right">
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="email"> <i data-feather="mail" aria-hidden="true"></i>Gmail</a>
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="whatsapp"> <i data-feather="message-circle" aria-hidden="true"></i>WhatsApp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 530px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="img/dokter.png" class="card-img" alt="gambar" height="100%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <button style="color: black;"; type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#exampleModalToggle11">
                                        <h5>Dr. Clara Tanudy</h5>
                                    </button>
                                    <p class="card-text">
                                        Lulusan dari : Universitas Tarumanagara
                                        Tempat Praktik : Jakarta Barat, DKI Jakarta
                                        No. STR : 1121100216125652
                                    </p>
                                    <p class="card-text bg-white"><small class="text-muted">Dokter Umum</small></p>
                                    <br>
                                    <div class="text-right">
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="email"> <i data-feather="mail" aria-hidden="true"></i>Gmail</a>
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="whatsapp"> <i data-feather="message-circle" aria-hidden="true"></i>WhatsApp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 530px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="img/dokter.png" class="card-img" alt="gambar" height="100%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <button style="color: black;"; type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#exampleModalToggle11">
                                        <h5>Dr. Clara Tanudy</h5>
                                    </button>
                                    <p class="card-text">
                                        Lulusan dari : Universitas Tarumanagara
                                        Tempat Praktik : Jakarta Barat, DKI Jakarta
                                        No. STR : 1121100216125652
                                    </p>
                                    <p class="card-text bg-white"><small class="text-muted">Dokter Umum</small></p>
                                    <br>
                                    <div class="text-right">
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="email"> <i data-feather="mail" aria-hidden="true"></i>Gmail</a>
                                        <a href="" class="btn btn-dark" type="button" data-toggle="tooltip" title="whatsapp"> <i data-feather="message-circle" aria-hidden="true"></i>WhatsApp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

        <%- include('../layouts/footer.ejs'); %>

        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>