<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaloDoc || Tanya Dokter, Periksa Kesehatan Sendiri</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <%- include('../layouts/navbar.ejs'); %>
    <div style="margin: 5% 5%">
        <h1 class="text-center" style="color: rgb(0, 0, 0);">SECURITY</h1>
        <br><br>
        <div class="card shadow p-3 mb-5 bg-white rounded-3" style="width: auto; height: auto;">
            <div class="card-body">
                <div class="container">
                    <div>
                        <h6 class="title">Goals</h6>
                        <p class="content"><small class="text-muted">Halodoc security vulnerability bounty is designed to :</small></p>
                        <p class="content"><small class="text-muted">1. Reward those who responsibly disclose vulnerabilities on Halodoc properties.</small></p>
                        <p class="content"><small class="text-muted">2. Help making Halodoc more secure for it's users.</small></p>
                    </div>
                    <div>
                        <h6 class="title">How to Support</h6>
                        <p class="content"><small class="text-muted">Send an email with all the details to <a href="security@halodoc.com">security@halodoc.com</a></small></p>
                        <p class="content"><small class="text-muted">The email should contain at least the following information:</small></p>
                        <p class="content"><small class="text-muted">1. Vulnerability type (XSS, Session Hijack, etc).</small></p>
                        <p class="content"><small class="text-muted">2. Vulnerable service (Mobile apps, API, public website etc).</small></p>
                        <p class="content"><small class="text-muted">3. Details about vulnerability.</small></p>
                        <p class="content"><small class="text-muted">4. A proof of concept of the vulnerability (logs, screenshots or video as applicable).</small></p>
                    </div>
                    <div>
                        <h6 class="title">Responsible Disclosure</h6>
                        <p class="content"><small class="text-muted">1. Please do not publicly disclose the vulnerability until it has been patched.</small></p>
                        <p class="content"><small class="text-muted">2. We will privately acknowledge each incident reported at <a href="security@halodoc.com">security@halodoc.com</a>
                            Patching of the disclosed vulnerability may take some time depending on the complexity of the vulnerability. We request the security researcher to provide us reasonable amount of time before making the vulnerability public.</small></p>
                    </div>
                    <div>
                        <h6 class="title">Our Promise</h6>
                        <p class="content"><small class="text-muted">1. We will acknowledge each incident reported as soon as we can.</small></p>
                        <p class="content"><small class="text-muted">2. We will be fast in patching any vulnerability reported. We will keep the reporter informed about the progress.</small></p>
                        <p class="content"><small class="text-muted">3. We will pay a bounty once the vulnerability is patched.</small></p>
                    </div>
                    <div>
                        <h6 class="title">Eligibility</h6>
                        <p class="content"><small class="text-muted">Halodoc security vulnerability bounty is designed to :</small></p>
                        <p class="content"><small class="text-muted">1. The reported vulnerability should be a bug that compromises integrity of user data, bypasses privacy protections or enables unauthorised access. Other types of bugs are not eligible.</small></p>
                        <p class="content"><small class="text-muted">2. Reporter should be the first to disclose the vulnerability.</small></p>
                    </div>
                    <div>
                        <h6 class="title">Bounties</h6>
                        <p class="content"><small class="text-muted">Our awards will start from IDR 250.000. More serious vulnerabilities will be awarded higher amounts.</small></p>
                    </div>
                    <div>
                        <h6 class="title">Terms and conditions</h6>
                        <p class="content"><small class="text-muted">1. Do not violate any legal laws. Don't be evil. Halodoc retains the right to pursue legal action if "Responsible Disclosure" is not followed.</small></p>
                        <p class="content"><small class="text-muted">2. Eligibility & amount given out as bounty is at the sole discretion of Halodoc.</small></p>
                        <p class="content"><small class="text-muted">3. For testing for vulnerabilities, use your own account. Testing should not violate any laws or access data of other users without their explicit approval.</small></p>
                        <p class="content"><small class="text-muted">4. Halodoc retains the right to modify or terminate this program at anytime without notice.</small></p>
                    </div>
                </div>

          </div>
        </div>
        <br><br>
    </div>

        <%- include('../layouts/footer.ejs'); %>

        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>