<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaloDoc || Tanya Dokter, Periksa Kesehatan Sendiri</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
  <%- include('../layouts/navbar.ejs'); %>

    <div style="margin: 5% 5%">
        <h1 class="text-center" style="color: rgb(0, 0, 0);">SYARAT DAN KETENTUAN PENGGUNA HALODOC</h1>
        <br><br>
        <div class="card shadow p-3 mb-5 bg-white rounded-3" style="width: auto; height: auto;">
            <div class="card-body">
                <h5 class="card-title text-center">SYARAT DAN KETENTUAN PENGGUNAAN</h5>
                <h5 class="card-title text-center">HALODOC</h5>
                <h6 class="card-subtitle text-muted font-italic text-center">(terakhir diperbarui tanggal: 25 September 2021)</h6>
                <br><br>
                <p class="card-text text-left text-muted"> MOHON UNTUK MEMBACA SELURUH SYARAT DAN KETENTUAN PENGGUNAAN SERTA KEBIJAKAN PRIVASI YANG TERLAMPIR DENGAN CERMAT
                DAN SAKSAMA SEBELUM MENGGUNAKAN SETIAP FITUR DAN/ATAU LAYANAN YANG TERSEDIA DALAM PLATFORM HALODOC.</p>
                <p class="card-text text-left text-muted"> Syarat dan Ketentuan Penggunaan (“Ketentuan Penggunaan”) ini merupakan suatu perjanjian sah terkait tata cara dan
                    persyaratan penggunaan fitur dan/atau layanan (“Layanan”) Platform Halodoc (“Platform”) antara Pengguna (“Anda”) dengan pengelola Platform, yaitu PT Media
                    Dokter Investama (“Kami”). Dengan mengunduh dan/atau memasang dan/atau menggunakan Platform dan/atau menikmati Layanan Kami, Anda setuju bahwa Anda telah
                    membaca, memahami, mengetahui, menerima, dan menyetujui seluruh informasi, syarat-syarat, dan ketentuan-ketentuan penggunaan Platform yang terdapat dalam 
                    Ketentuan Penggunaan ini. </p>
                <p class="card-text text-left text-muted"> Apabila Anda tidak setuju terhadap salah satu, sebagian, atau seluruh isi yang tertuang dalam Ketentuan Penggunaan 
                    dan Kebijakan Privasi ini, silakan untuk menghapus Platform dalam perangkat elektronik Anda dan/atau tidak mengakses Platform dan/atau tidak menggunakan 
                    Layanan Kami. Mohon untuk dapat diperhatikan pula bahwa Ketentuan Penggunaan dan Kebijakan Privasi dapat diperbarui dari waktu ke waktu. </p>
                <p class="card-text text-left text-muted"> 1. KETENTUAN UMUM</p>
                <p class="card-text text-left text-muted"> a. Platform adalah aplikasi (versi Android atau iOS), aplikasi web (aplikasi yang dapat diakses menggunakan web), 
                    website yang dikelola oleh Kami sebagaimana diperbarui dari waktu ke waktu.</p>
                <p class="card-text text-left text-muted"> b. Koneksi internet diperlukan untuk dapat menggunakan Layanan dan biaya terkait penggunaan koneksi internet tersebut
                    ditanggung sepenuhnya oleh Anda. </p>
                <p class="card-text text-left text-muted"> c. Platform berfungsi sebagai sarana untuk menghubungkan Anda dengan pihak ketiga yang menyediakan layanan atau menjual
                    barang kepada Anda seperti (tetapi tidak terbatas pada) dokter, psikolog, dokter hewan, apotek, laboratorium, dan/atau jasa pengantaran (“Penyedia Layanan”).</p>
                <p class="card-text text-left text-muted"> d. Jenis layanan yang dapat digunakan melalui Platform adalah:</p>
                <p class="card-text text-left text-muted"> (i) Chat dengan Dokter;</p>
                <p class="card-text text-left text-muted"> (ii) Toko Kesehatan;</p>
                <p class="card-text text-left text-muted"> (iii) Buat Janji RS;</p>
                <p class="card-text text-left text-muted"> (iv) Layanan lain yang dapat kami tambahkan dari waktu ke waktu;</p>
                <p class="card-text text-left text-muted"> (“Layanan”).</p>
                <p class="card-text text-left text-muted"> e. Aplikasi web merupakan fitur yang berfungsi sebagai sarana Anda untuk mengakses beberapa Layanan Kami tanpa perlu mengunduh
                    Aplikasi (“Aplikasi Web”).</p>
                <p class="card-text text-left text-muted"> f. Platform ini merupakan sarana untuk memudahkan pencarian atas Layanan dimana kami bekerjasama dengan penyelenggara pelayanan
                    kesehatan, penyelenggaran pelayanan kefarmasian atau penyedia jasa pengantaran.</p>
                <p class="card-text text-left text-muted"> g. Kami dapat menggunakan jasa pihak ketiga terkait penyediaan layanan pembayaran. Apabila terjadi kegagalan pada sistem
                    pembayaran, Kami akan berupaya semaksimal mungkin dalam membantu menyelesaikan masalah yang mungkin timbul. Penyedia jasa perbankan/pembayaran yang dipilih 
                    oleh Anda dapat mengenakan biaya tambahan kepada Anda atas layanan yang diberikan. </p>
                <p class="card-text text-left text-muted"> h. Fitur “Toko Kesehatan” dikelola oleh PT Mensa Medika Investama (“PT MMI”) dan terkoneksi dengan fitur GOMED yang dikelola oleh 
                    PT Aplikasi Karya Anak Bangsa (“GOJEK”) pada aplikasi GOJEK sebagai salah satu pihak ketiga yang mengantarkan pesanan obat atau alat kesehatan atau perbekalan kesehatan 
                    rumah tangga kepada Anda.</p>
                <p class="card-text text-left text-muted"> i. Platform memungkinkan Anda untuk mengirimkan permintaan atas suatu Layanan kepada Penyedia Layanan. Penyedia Layanan memiliki 
                    kebijakan sendiri dan kewenangan penuh untuk menerima atau menolak setiap permintaan Anda atas Layanan. Jika Penyedia Layanan menerima permintaan Anda, Platform akan
                    memberitahu Anda dan memberikan informasi mengenai Penyedia Layanan, termasuk nomor order dan kemampuan untuk menghubungi Penyedia Layanan melalui telepon. </p>
                <p class="card-text text-left text-muted"> j. Setiap fitur atau fasilitas dalam Platform dapat diperbarui atau diubah sesuai dengan kebutuhan dan perkembangan Platform.</p>
                <p class="card-text text-left text-muted"> k. Anda dapat memberikan informasi mengenai data pribadi dan riwayat kesehatan, dan Kami akan menyimpan serta menampilkannya dalam 
                    akun Anda. Kerahasiaan data Anda terjamin dan akan digunakan oleh Kami dan/atau Penyedia Layanan untuk keperluan interaksi dengan dokter dan/atau keperluan pemesanan obat 
                    serta layanan lainnya yang dilakukan di dalam Platform yang telah Anda setujui sesuai dengan ketentuan perundang-undangan yang berlaku dan Kebijakan Privasi.</p>
                <p class="card-text text-left text-muted"> l. Dengan menggunakan Platform, Anda memahami dan menyetujui bahwa percakapan melalui fitur video call, voice call maupun chat akan 
                    tersimpan secara otomatis dan diarsipkan untuk keperluan legal dan peningkatan kualitas layanan. Kerahasiaan percakapan Anda terjamin dan informasi tidak akan disebarluaskan.</p>
                <p class="card-text text-left text-muted"> m. Anda memahami dan menyetujui bahwa percakapan Anda dengan customer service Kami akan tersimpan secara otomatis dan diarsipkan untuk keperluan 
                    legal dan peningkatan kualitas layanan. Kerahasiaan percakapan Anda terjamin dan informasi tidak akan disebarluaskan.</p>
                <p class="card-text text-left text-muted"> n. Anda memahami dan menyetujui bahwa komunikasi Anda dengan fasilitas pelayanan kesehatan yang terhubung melalui nomor telepon pada website kami
                    tersimpan secara otomatis dan diarsipkan untuk keperluan legal dan peningkatan kualitas layanan. Kerahasiaan percakapan Anda terjamin dan informasi tidak akan disebarluaskan.</p>
                <p class="card-text text-left text-muted"> o. Kami dapat menghentikan atau membatasi proses registrasi atau penggunaan Platform oleh Anda jika ditemukan pelanggaran dari Ketentuan Penggunaan
                    ini atau peraturan perundang-undangan yang berlaku.</p>
                <br>
                <p class="card-text text-left text-muted"> 2. KETENTUAN PENGGUNAAN PLATFORM</p>
                <p class="card-text text-left text-muted"> a. Anda menyatakan dan menjamin bahwa Anda adalah individu yang memiliki hak untuk mengadakan perjanjian yang mengikat berdasarkan hukum Negara 
                    Republik Indonesia dan bahwa Anda telah berusia minimal 21 (dua puluh satu) tahun atau sudah menikah dan tidak berada di bawah perwalian atau pengampuan. Jika Anda berusia di bawah 21 
                    (dua puluh satu) tahun dan belum menikah, Anda menyatakan dan menjamin bahwa Anda telah memperoleh izin dari orang tua atau wali hukum Anda, kecuali Anda menyatakan sebaliknya. Dengan 
                    memberikan persetujuan, orang tua atau wali hukum Anda setuju untuk bertanggung jawab atas: (i) semua tindakan Anda terkait akses ke dan penggunaan Platform dan/atau Layanan; (ii) 
                    biaya apa pun terkait penggunaan Anda atas Layanan apa pun; dan (iii) kepatuhan Anda terhadap Syarat dan Ketentuan ini. Kami dapat menutup atau membatalkan akun Anda apabila hal tersebut
                    tidak benar. Anda selanjutnya menyatakan dan menjamin bahwa Anda memiliki hak, wewenang dan kapasitas untuk menggunakan Layanan dan akan senantiasa mematuhi Ketentuan Penggunaan. Jika 
                    Anda mendaftarkan atas nama suatu badan usaha, Anda juga menyatakan bahwa Anda berwenang untuk bertindak untuk dan atas nama badan hukum tersebut dan untuk mengadakan dan mengikatkan badan
                    hukum/entitas tersebut pada Ketentuan Penggunaan Platform. </p>
                <p class="card-text text-left text-muted"> b. Anda dapat menggunakan beberapa fitur tertentu pada Platform tanpa melakukan pendaftaran terlebih dahulu.</p>
                <p class="card-text text-left text-muted"> c. Anda dapat menggunakan seluruh fitur pada Platform dengan terlebih dahulu melakukan pendaftaran yang disertai pemberian informasi data pribadi Anda 
                    yang dapat dipertanggung jawabkan secara hukum sebagaimana diminta dalam Platform (“Data Pribadi”). Informasi terkait Data Pribadi yang diberikan hanya akan digunakan oleh Kami dan/atau 
                    Penyedia Layanan untuk pemberian layanan-layanan dalam Platform dan untuk tujuan lain yang telah Anda setujui sesuai dengan ketentuan perundang-undangan yang berlaku. Kebijakan Privasi 
                    yang terlampir (sebagaimana diperbarui dari waktu ke waktu) menjadi bagian yang tidak terpisahkan dari Ketentuan Penggunaan ini. </p>
                <p class="card-text text-left text-muted"> d. Setelah mendaftarkan diri pada Platform, Anda akan mendapatkan suatu akun pribadi yang dapat diakses dengan One Time Password (OTP) yang akan
                    dikirimkan ke nomor telepon seluler Anda. Kami harap Anda tidak menyerahkan, mengalihkan maupun memberikan wewenang kepada orang lain untuk menggunakan identitas atau menggunakan akun 
                    Anda. Anda wajib menjaga kerahasiaan kata sandi akun Anda dan setiap identifikasi yang kami berikan kepada Anda atas akun atau Data Pribadi Anda. Apabila terjadi pengungkapan atas kata 
                    sandi Anda yang terjadi bukan atas kesalahan Kami, dengan cara apapun yang mengakibatkan penggunaan yang tidak sah dan tanpa kewenangan atas akun atau Anda, transaksi maupun pesanan atas
                    Layanan yang dilakukan melalui Platform masih akan dianggap sebagai transaksi yang sah kecuali apabila Anda telah memberitahu Kami tentang hal tersebut sebelum Penyedia Layanan memberikan
                    Layanan yang diminta.</p>
                <p class="card-text text-left text-muted"> e. Anda memiliki tanggung jawab atas setiap penggunaan akun Anda dalam Platform. Apabila Anda tidak memiliki kontrol atas akun Anda oleh sebab apapun,
                    maka Anda diharuskan untuk melaporkannya kepada Kami. Apabila terjadi penyalahgunaan akun Anda oleh orang lain sebelum pelaporan terjadi, maka penggunaan akun pada periode tersebut akan 
                    menjadi tanggung jawab Anda.</p>
                <p class="card-text text-left text-muted"> f. Anda tidak diperkenankan untuk membahayakan, menyalahgunakan, mengubah atau memodifikasi Platform dengan cara apapun. Kami dapat menutup atau
                    membatalkan akun Anda dan melarang Anda untuk menggunakan Platform lebih lanjut jika Anda tidak mematuhi Ketentuan Penggunaan ini. </p>
                <p class="card-text text-left text-muted"> g. Dengan menggunakan Platform, maka Anda memahami, setuju, dan tunduk sesuai yang dipersyaratkan pada Kebijakan Privasi Kami sebagaimana berlaku
                    dari waktu ke waktu. </p>
                <p class="card-text text-left text-muted"> h. Anda akan menggunakan Platform hanya untuk tujuan mendapatkan Layanan, dan tidak akan menyalahgunakan atau menggunakan Platform untuk aktivitas 
                    yang bertentangan dengan hukum, termasuk namun tidak terbatas kepada tindak pidana pencucian uang, pencurian, penggelapan, terorisme maupun penipuan. Anda juga sepakat bahwa Anda tidak 
                    akan melakukan pemesanan palsu melalui Platform dan tidak akan melakukan perbuatan melawan hukum melalui Platform.</p>
                <p class="card-text text-left text-muted"> i. Dengan memberikan informasi kepada Kami, Anda menyatakan bahwa Anda setuju bahwa informasi yang Anda berikan akan digunakan oleh Kami dan Penyedia Layanan.</p>
                <p class="card-text text-left text-muted"> j. Anda mengetahui dan setuju bahwa setiap informasi dalam bentuk apapun, termasuk namun tidak terbatas pada video, audio, gambar atau tulisan yang ada dalam
                    Platform memiliki hak atas kekayaan intelektual (termasuk namun tidak terbatas kepada hak atas merek dan hak cipta) masing-masing. Anda tidak diperbolehkan untuk menggunakan, mengubah, memfasilitasi, 
                    menyebarluaskan dan/atau memutilasi hak atas kekayaan intelektual tersebut tanpa izin dari pemilik hak atas kekayaan intelektual tersebut sebagaimana diatur dalam peraturan perundang-undangan yang berlaku.</p>
        </div>
        </div>
        <br><br>
    </div>
    
        <%- include('../layouts/footer.ejs'); %>

        <!--SIGN UP USER-->
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel">SIGN UP</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    <label for="name"><b>Full Name: </b></label><br>
                    <input id="name" placeholder="Enter your full name" maxlength="50" name="name" type="text" required /><br><br>
                
                    <label for="email"><b>Email : </b></label><br>
                    <input id="email" placeholder="Enter your email" maxlength="50" name="email" type="email" required /><br><br>

                    <label for="password"><b>Password :</b></label><br>
                    <input id="password" placeholder="Enter your password" maxlength="50" name="password" type="password" required/><br><br>
                    
                    <input  class="btn btn-success" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal" type="button" style="width: 190px; " value="SIGN UP">

                </div>
                <div class="modal-footer">
                    <p>
                        Already Have an Account?<a class="btn btn-link" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">LOGIN</a>
                    </p>
                  
                </div>
              </div>
            </div>
          </div>

          <!--LOGIN USER-->
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel2">LOGIN</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="email"><b>Email : </b></label><br>
                    <input id="email" placeholder="Enter your email" maxlength="50" name="email" type="email" required /><br><br>

                    <label for="password"><b>Password :</b></label><br>
                    <input id="password" placeholder="Enter your password" maxlength="50" name="password" type="password" required/><br><br>
                    
                    <a data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-success"style="width: 190px;" >LOGIN</a>
                </div>
                <div class="modal-footer">
                        <a data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal"  class="btn btn-link" >Create New Account Here</a>
                </div>
              </div>
            </div>
          </div>
          
          <!--USER VERIFICATION-->
          <div class="modal fade" id="exampleModalToggle3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:400px">
              <div class="modal-content">
                <div class="modal-header justify-content-center">
                  <h5 class="modal-title">Email Verification</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="img/emailverifikasi.jpg"  width="100%" height="200px">  
                    </div>
                    <div style="margin: 5% 5%;">
                        <h4>Hello, </h4>
                        <p class="card-text">
                        Thank you for registering an account. Before you get started,
                        we need you to verify your email first. Please check your email notification.
                        </p>
                        <div>
                            <a class="d-flex justify-content-center btn btn-success">
                            Verify Email
                            </a>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>

            <!--PROFILE USER PAS LOGIN-->
            <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel4">PROFILE USER</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                        <div class="container">
                            <div class="main-body">
                                    <div class="col">
                                      <div class="card-0">
                                        <div class="card-body">
                                          <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                            <div class="mt-3">
                                              <h4>Bertrand Ferrari</h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      
                                     
                                    </div>
                                    <div class="col">
                                      <div class="card-0 mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-4">
                                                <h6 class="mb-0">Nama Lengkap</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                              Bertrand Ferrari
                                            </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                            <div class="col-sm-4">
                                              <h6 class="mb-0">Email</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                              bertrand@gmail.com
                                            </div>
                                          </div>
                                          <hr>
                                          <div class="row">
                                            <div class="col-sm-4">
                                              <h6 class="mb-0">Nomor HP</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                0123456789
                                            </div>
                                          </div>
                                          <hr>
                                        </div>
                                      </div>
                                    </div>
                        
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" data-bs-target="#exampleModalToggle5" data-bs-toggle="modal" data-bs-dismiss="modal">EDIT PROFILE</a>
                      
                    </div>
                  </div>
                </div>
              </div>

              <!--EDIT PROFILE USER-->
              <div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel5">EDIT PROFILE</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="main-body">
                                    <div class="col">
                                        <div class="card-0">
                                            <div class="card-body">
                                                <div class="d-flex flex-column align-items-center text-center">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                                    <div class="mt-3">
                                                        <h4>Bertrand Ferrari</h4>
                                                    </div>
                                                </div>
                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card-0">
                                            <div class="card-body">
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Full Name</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" value="Bertrand Ferrari">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Email</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" value="bertrand@gmail.com">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Nomor HP</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" value="0123456789">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <a data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" data-bs-dismiss="modal"  class="btn btn-success" >SAVE CHANGES</a>
                    </div>
                  </div>
                </div>
              </div>


              <!--LOGIN DOKTER-->
                <div class="modal fade" id="exampleModalToggle10" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel10">LOGIN</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="email"><b>Email : </b></label><br>
                            <input id="email" placeholder="Enter your email" maxlength="50" name="email" type="email" required /><br><br>
        
                            <label for="password"><b>Password :</b></label><br>
                            <input id="password" placeholder="Enter your password" maxlength="50" name="password" type="password" required/><br><br>
                            
                            <a data-bs-target="#exampleModalToggle11" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-success"style="width: 190px;" >LOGIN</a>
                        </div>
                        <div class="modal-footer">
                                <a href="/registerdokter"class="btn btn-success" >Create New Account Here</a>
                        </div>
                    </div>
                    </div>
                </div>

                <!--PROFILE DOKTER PAS LOGIN-->
                <div class="modal fade" id="exampleModalToggle11" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel11">PROFILE DOKTER</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" >
                            <div class="container">
                                <div class="main-body">
                                        <div class="col">
                                          <div class="card-0">
                                            <div class="card-body">
                                              <div class="d-flex flex-column align-items-center text-center">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                                <div class="mt-3">
                                                  <h4>Bertrand Ferrari</h4>
                                                  <p class="text-secondary mb-1">Dokter Umum</p>
                                                  <p class="text-muted font-size-sm">Rumah Sakit Islam Kristen Bersaudara</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                         
                                        </div>
                                        <div class="col">
                                          <div class="card-0 mb-4">
                                            <div class="card-body">
                                              <div class="row">
                                                <div class="col-sm-4">
                                                  <h6 class="mb-0">Nama Lengkap</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  Bertrand Ferrari
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-4">
                                                  <h6 class="mb-0">Email</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  bertrand@gmail.com
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-4">
                                                  <h6 class="mb-0">Nomor HP</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    0123456789
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-4">
                                                  <h6 class="mb-0">Lokasi Praktik</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  Rumah Sakit Islam Kristen Bersaudara
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success" data-bs-target="#exampleModalToggle12" data-bs-toggle="modal" data-bs-dismiss="modal">EDIT PROFILE</a>
                        
                        </div>
                    </div>
                    </div>
                </div>

                <!--EDIT PROFILE DOKTER-->
                <div class="modal fade" id="exampleModalToggle12" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel12">EDIT PROFILE</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="main-body">
                                        <div class="col">
                                            <div class="card-0">
                                                <div class="card-body">
                                                    <div class="d-flex flex-column align-items-center text-center">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                                        <div class="mt-3">
                                                            <h4>Bertrand Ferrari</h4>
                                                            <p class="text-secondary mb-1">Dokter Umum</p>
                                                            <p class="text-muted font-size-sm">Rumah Sakit Islam Kristen Bersaudara</p>
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card-0">
                                                <div class="card-body">
                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Full Name</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" class="form-control" value="Bertrand Ferrari">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Email</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" class="form-control" value="bertrand@gmail.com">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Nomor HP</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" class="form-control" value="0123456789">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Address</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" class="form-control" value="Rumah Sakit Islam Kristen Bersaudara">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                                <a data-bs-target="#exampleModalToggle11" data-bs-toggle="modal" data-bs-dismiss="modal"  class="btn btn-success" >SAVE CHANGES</a>
                        </div>
                    </div>
                    </div>
                </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>